
@model UserManagement.Models.Users
@{
    ViewBag.Title = "InsertUser";
}
 

<!--<h2>Insert User</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Insert failed. Check your data entered.");
    <div>
        <fieldset>
            <legend>Insert user</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.FirstName)
                @Html.ValidationMessageFor(u => u.FirstName)
            </div>-->
            @*-----------Last name ---------*@
            <!--<div class="editor-label">
                @Html.LabelFor(u => u.LastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.LastName)
                @Html.ValidationMessageFor(u => u.LastName)
            </div>


            <input type="submit" value="Insert User" />
        </fieldset>
    </div>
}-->
