
@model IEnumerable<UserManagement.Models.Users>
@{
    ViewBag.Title = "ListUsers";
    int i = 0;
    var mod = Model;
}


<h2>List Users</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>

        </th>
    </tr>

    @for (var n = 0; n < Model.Count(); n++)
    {
        var item = Model.ElementAt(n);
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
             
            <td>
                @Html.ActionLink("Update", "UpdateUser", new { id = item.ID })

                @Html.ActionLink("Delete", "DeleteSystemUser", new { id = item.ID }, new { onclick = " return confirm('Are you sure to delete User[ " + item.FirstName + " " + item.LastName  + "] ?')" })
            </td>
        </tr>
    }
</table>
<div>

    

    
</div>